
#nav{
  list-style: none;
  position: fixed;
  right: 20px;
}

#nav li{
  margin: 0 0 15px 0; 
}

.slide{
  background-size: 100%;
  color: white;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 0;
}

#start{
  background:url(/images/lovetypography.jpg) 50% 0 no-repeat fixed;
}

#question-1{
  background: url(/images/helvetica.jpg) 50% 0 no-repeat fixed;
}

#question-2{
  background: url(/images/serif.jpg) 50% 0 no-repeat fixed;
}

#answer{
  background:url(/images/lovetypography.jpg) 50% 0 no-repeat fixed;
}