
#nav{
  list-style: none;
  position: fixed;
  right: 20px;
}

#nav li{
  margin: 0 0 15px 0; 
}


#start{
  background:url(/images/lovetypography.jpg) 50% 0 no-repeat fixed;
  background-size: 100%;
  color: white;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 0;
}

#one{
  background: url(/images/helvetica.jpg) 50% 0 no-repeat fixed;
  color: white;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 0;
}

#two{
  background: url(/images/serif.jpg) 50% 0 no-repeat fixed;
  color: white;
  min-height: 100vh; 
  padding: 100px 0 0 0; 
}